<div class="panel panel-default" ng-init="tab = 1">
    <div class="panel-heading">
        <h3 class="panel-title">format view directive</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" ng-click="tab = 1">sample</a></li>
            <li><a data-toggle="tab" ng-click="tab = 2">source code</a></li>
            <li><a data-toggle="tab" ng-click="tab = 3">docs</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" ng-class="{'active': tab == 1}">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>date (original)</label>
                        <input type="text" class="form-control" ng-model="example.date" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>date (to jalali)</label>
                        <input type="text" class="form-control" ng-model="example.date" kama-format-view="date" />
                    </div>
                    <div class="col-xs-12"><hr /></div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>date (original)</label>
                        <input type="text" class="form-control" ng-model="example.date" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>date (to string)</label>
                        <input type="text" class="form-control" ng-model="example.date" kama-format-view="gregorian" />
                    </div>
                    <div class="col-xs-12"><hr /></div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>money (original)</label>
                        <input type="text" class="form-control" ng-model="example.money" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>money (3 digit separated)</label>
                        <input type="text" class="form-control" ng-model="example.money" kama-format-view="money" />
                    </div>
                    <div class="col-xs-12"><hr /></div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>time (original in minutes)</label>
                        <input type="text" class="form-control" ng-model="example.time" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>time (time format)</label>
                        <input type="text" class="form-control" ng-model="example.time" kama-format-view="time" />
                    </div>
                </div>
            </div>
            <div class="tab-pane" ng-class="{'active': tab == 2}"></div>
            <div class="tab-pane" ng-class="{'active': tab == 3}"></div>
        </div>
    </div>
</div>