.kama-input-number {
    height: 28px;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding-right: 10px;
    line-height: 28px;
    font-size: 12px;

    > div {
        height: 27px;
        width: 33px;
        float: left;
        text-align: center;
        line-height: 30px;
        border-right: 1px solid #CCC;
        cursor: pointer;
        font-size: 20px;
        user-select: none;

        > i {
            position: relative;
            top: -1px;
        }
    }
}
