<div class="row" id="grid-sort">
	<div class="form-group col-xs-12" ng-if="obj.model[sortBy].length">
		<div class="table-responsive kama-grid-table">
			<!-- selected columns -->
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th ng-if="obj.model[sortBy].length > 1">
							ترتیب
						</th>
						<th>ستون</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="column in obj.model[sortBy]">
						<td ng-if="obj.model[sortBy].length > 1">
							<i class="fa fa-arrow-up disable" ng-if="$first" aria-hidden="true"></i>
							<i class="fa fa-arrow-up" ng-if="!$first" ng-click="changeOrder(column,'up')"
								aria-hidden="true"></i>
							<i class="fa fa-arrow-down disable" ng-if="$last" aria-hidden="true"></i>
							<i class="fa fa-arrow-down" ng-if="!$last" ng-click="changeOrder(column,'down')"
								aria-hidden="true"></i>
						</td>
						<td>{{ column.displayName }}</td>
						<td>
							<form>
								<label class="checkbox-label">
									<input type="radio" value="ASC" ng-model="column.SortOrder" />
									صعودی
								</label>
								<label class="checkbox-label">
									<input type="radio" value="DESC" ng-model="column.SortOrder" />
									نزولی
								</label>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-12">
		<!-- columns -->
		<kama-checkboxes list="columns" selected="obj.model[sortBy]" unique-id="id" display-name="displayName"
			display="table" columns="[{name: 'displayName', title: 'ستون'}]" process="process"></kama-checkboxes>
	</div>
</div>